node_modules
dist
.DS_Store
.vite

# Vite development logs
vite-dev*.log
vite-dev-*.out.log
vite-dev-*.err.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


