@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--card-width: 28rem;
	--card-height: 18rem;
}

.flip-card {
	perspective: 1000px;
}

.flip-card-inner {
	transform-style: preserve-3d;
	transition: transform 250ms ease;
}

.flip-card.flipped .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-face {
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}


